@import "../../mixins.scss";
.order-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    // gap: 20px;
    .order-total {
        font-weight: 600;
        margin-top: 20px;
        }
        .order-title {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr ;
            padding: 12px;
            border-bottom: 0.1px solid var(--border-color);
            .order-name {
                font-weight: 700;
                opacity: 0.7;
                font-size: 12px;
                @include md {
                    font-size: 16px;
                }
        }
    }
    .order-information {
        margin-top: 12px;
        .order-infos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr ;
            padding: 12px;
            .order-info {
                font-size: 12px;
                @include md {
                    font-size: 16px;
                }
                &.email {
                    min-width: 100px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &:nth-child(odd) {
                background-color: #bfbdbd21;
            }
        }
    }
}