@import "../../mixins.scss";
.edit-pd {
    margin-top: 30px;
    min-height: calc(100vh - 70px);
    .edit-pd-content {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 30px;;
        background-color: #a4a4a4;
        border-radius: 4px;
        .edit-pd-text {
            color: white;
            padding: 40px 80px;
            @include md {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
            }
            input::file-selector-button {
                margin-top: 4px;
                font-weight: bold;
                color: var(--color1);
                padding: 0.5em;
                border: thin solid grey;
                border-radius: 3px;
                cursor: pointer;
            }

            .editProduct-main {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
                .editProduct-img {
                    width: 220px;
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 9px;
                    @include md {
                        width: 280px;
                    }
                }
                .editProduct-desc {
                    display: flex;
                    flex-direction: column;
                    label {
                        width: 220px;
                        text-transform: capitalize;
                        margin-bottom: 5px;;
                        @include md {
                            width: 280px;
                        }
                    }
                    textarea {
                        width: 220px;
                        border: 1px solid #212121;
                        border-radius: 4px;
                        padding: 8px;
                        @include md {
                            width: 280px;
                        }
                    }
                }
            }

            .editProduct-right {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
        }
        .editProduct-bottom{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            .form-btn {
                width: 220px;
                padding: 5px 40px;
                margin: 5px;
                font-size: 18px;
                @include md {
                    width: 280px;
                }
            }
            .edit-back {
                display: flex;
                align-items: center;
                color: white;
                gap: 5px;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}