@import "../../mixins.scss";
.cartContainer {
   width: 100%;
   padding-top: 20px;
   .cartContent {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 40px;
    .empty {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        opacity: 0.7;
        svg {
            font-size: 140px;
            @include md {
                font-size: 200px;
            }
        }
        .empty-title {
            font-size: 24px;
               @include md {
                    font-size: 36px;
                }
            }
        }
    .cart-footer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-weight: 600;
        padding-right: 10px;
        font-size: 12px;
        margin-top: 30px;
        .cart-footer-content {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 260px;
            box-shadow: var(--text-color) 0 1px 6px 0 ;
            padding: 15px 20px;
            border-radius: 4px;
            .cost {
                display: flex;
                justify-content: space-between;
                @include md {
                    font-size: 16px;
                }
            }
            button {
                padding: 8px 36px;
                border: 1px solid white;
                background-color: var(--color1);
                border-radius: 4px;
                color: white;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

        .cartOrders {
            width: 100%;
            padding: 10px;
            border-radius: 8px;
            border-bottom: 0.5px solid var(--text-color);
            @include md {
            padding: 25px 50px;
        }
            .cartOder {
                display: grid;
                grid-template-columns: 1fr 1fr  ;
                gap: 20px;
                img {
                    width: 150px;
                    aspect-ratio: 1.2/1;
                    border-radius: 4px;
                    object-fit: cover;
                    @include md {
                        width: 300px;
                        aspect-ratio: 1.4/1;
                }
                }
            }
            .cart-content {
                display: flex;
                flex-direction: column;
                gap: 5px;
                @include md {
                    gap: 15px;
                }
                    .title {
                        font-weight: 600;
                        font-size: 16px;
                        text-transform: capitalize;
                        @include md {
                            font-size: 24px;
                        }
                    }
                    .colors {
                        display: flex;
                        align-items: center;
                        text-align: center;
                        gap: 5px;
                        .colors-text {                                
                            display: none;
                            @include md {
                                display: block;
                            }
                        }
                        .cartOrder-color {
                            border:1px solid var(--border-color);
                            position: relative;
                            width: 16px;
                            height: 16px;                                
                            border-radius: 8px;
                        }
                    }
                    .cartOrder-price {
                        font-size: 12px;
                        @include md {
                            font-size: 16px;
                        }
                    }
                
                                .cartOrder-change {
                            width: fit-content;
                        display: flex;
                    border: 1px solid var(--text-color);
                    margin-right: 10px;
                            height: 25px;
                        margin-top: 6px;
                            font-size: 12px;
                            @include md {
                                font-size: 16px;
                            height: 35px;
                    }
                    span {
                        font-size: 16px;
                        width: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        color: var(--text-color);
                        @include md {
                            font-size: 20px;
                        }
                        &:nth-child(1) {
                            border-right: 1px solid var(--text-color);
                        }
                        &:nth-child(2) {
                            width: 30px;
                            @include md {
                                width: 60px;
                            }
                        }
                        &:nth-child(3) {
                            border-left: 1px solid var(--text-color);
                        }
                        &:hover {
                            background-color: var(--color2);
                        }
                    }
                }
            }
        }

    
    .cart-remove {
                    margin-top: 10px;
                    display: flex;
                justify-content: flex-end;
            width: 100%;
        border: 0;
    font-size: 16px;
                    cursor: pointer;
                span {
                    text-align: center;
                    color: white;
                    padding: 3px 10px;
                    border-radius: 4px;
                    background-color: var(--color1);
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }       
        
        .clearCart {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            button {
                padding: 8px 36px;
                border: 1px solid white;
                background-color: var(--color2);
                border-radius: 4px;
                color: white;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    opacity: 0.7;
                }
        }
    }
}